body {
  background-color: #212529;
}

.card {
  border: none;
}

.hero {
  background: #000;
  padding: 50px 0;
}

.text-bg-dark {
  background-color: #343a40;
}

.navbar-brand {
  font-weight: bold;
  color: #e50914;
}

.navbar-toggler-icon {
  color: #fff;
}

.dropdown-menu-dark {
  background-color: #343a40;
  border: none;
}

.dropdown-item {
  color: #fff;
}

.dropdown-item:hover {
  background-color: #495057;
}

#show-row {
  margin-top: 20px;
}

.text-center {
  color: #fff;
}
